body{
    font-family: 'Microsoft Yahei';
}

.sm-container{
    width: 900px;
    margin: 0 auto;
}

.main-container{
    width: 1200px;
    margin: 0 auto;
}

.others {
    text-align: center;
    margin    : 10px 0;
}

.header{
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
}

.ad-holder-center{
    text-align: center;
}

.ad-holder-left{
    position: fixed;
    z-index: 999;
    top: 10%;
    left: 0;
}

.ad-holder-right{
    position: fixed;
    z-index: 999;
    top: 10%;
    right: 0;
}

.reward{
    margin-top: 30px;
    text-align: center;
}

.reward .img{
    margin: 0 40px;
    width: 200px;
}

.region .btn{
    margin: 10px;
}

#root,
.article-section {
    width : 700px;
    margin: 0 auto;
}

.article-section table {
    text-align: left;
    width     : 100%;
}

.article-section table td {
    border: 1px solid #000;
}

.person {
    display     : inline-block;
    width       : 200px;
    margin-right: 10px;
}

.line {
    border-top : 1px solid #ccc;
    line-height: 35px;
}

.company {
    display: inline-block;
    width  : 200px;
}

.name {
    display     : inline-block;
    width       : 200px;
    margin-right: 30px;
    text-align  : right;
}