body{
    font-family: 'Microsoft Yahei';
}

.sm-container{
    width: 900px;
    margin: 0 auto;
}

.main-container{
    width: 1200px;
    margin: 0 auto;
}

.header{
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
}

.ad-holder-center{
    text-align: center;
}

.ad-holder-left{
    position: fixed;
    z-index: 999;
    top: 10%;
    left: 0;
}

.ad-holder-right{
    position: fixed;
    z-index: 999;
    top: 10%;
    right: 0;
}